
@import '_variables';
@import '../components/bootstrap-sass/assets/stylesheets/bootstrap.scss';

body {
	width: 100%;
	height: 100vh;
}

.panel-default {
	height: 100vh;
	position: relative;

	.panel-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.panel-heading {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.panel-body {
		padding: 60px 0 60px 0;
		height: 100vh;
		overflow: auto;
	}
}

.has-warning {
	span {
		color: $state-warning-text;
	}
}

/* HELPERS */
.pad-md-tb {
	padding-top: 20px; 
	padding-bottom: 20px; 
}

.modal-backdrop {
	> img {
		position: absolute;
		top: 45%;
		left: 45%;
		display: block;
	}
}