extends layout

block content
	div(class='panel panel-default' ng-controller='PaymentController')
		div(class='panel-heading text-center')
			h2(class='h4')=title

		div(class='panel-body text-center')

			div(class='container-fluid pad-md-tb')
				if error
					div(class='alert alert-danger')
						p=msg
				else
					div(class='alert alert-success')
						p=msg


		div(class='panel-footer')
			div(class='container-fluid')
				a(class='btn btn-default pull-left' href='/payment') Send Money

				a(class='btn btn-default pull-right' href='/history') View Transaction History

